<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/product.css" th:href="@{/css/product.css}" />
</head>

<body>
    <nav th:insert="fragments/header :: nav" class="site-header sticky-top"></nav>
    <div class="text-center bg-light">
        <div class="container">
            <h1 class="display-4 font-weight-normal">Let's Play Rock, Paper, Scissors.</h1>
            <h5 class="font-weight-bold text-left mb-0">Things You Should Know</h5>
            <p class="font-weight-normal text-left mb-0">Rock beats scissors, scissors beat paper, and paper beats rock.
            </p>
            <p class="font-weight-normal text-left mb-0">Agree ahead of time whether you’ll count off “rock, paper,
                scissors, shoot” or just “rock, paper, scissors.”
            </p>
            <p class="font-weight-normal text-left mb-0">
                Use rock, paper, scissors to settle minor decisions or simply
                play to pass the time.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <!-- Three columns of text below the carousel -->
            <form class="form-horizontal" th:object="${game}" th:action="@{/startGame}" method="post">
                <div class="row mt-5">
                    <div th:each="move : ${moves}" class='col text-center'>
                        <input th:field="*{playerMove}" th:value="${move}" type="radio" name="imgbackground" th:id="${move}"
                            class="d-none imgbgchk">
                        <label th:for="${move}">
                            <img th:src="@{${'/img/'+move+'.png'}}" alt="rock">
                            <div class="tick_container">
                                <div class="tick"><i class="fa fa-check"></i></div>
                            </div>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-outline-success btn-lg btn-block mt-5">Play</button>
            </form>
        </div>
    </div>
    <footer th:insert="fragments/footer :: footer" class="text-muted fixed-bottom"></footer>
</body>

</html>